@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  font-family: poppins, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

header {
  background-color: rgba(102, 51, 153, 0.7);
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-around;
}

ul {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style-type: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

ul > li:hover {
  transition: 0.3s ease;
  transform: scale(1.1) skew(10deg);
  border-bottom: 1px solid rebeccapurple;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 100vw;
  height: 100vh;
}

.booklist, .form, .contact-info {
  height: 83vh;
}

h1 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 2.5em;
  color: rebeccapurple;
}

.book {
  width: 80vw;
  border: 2px solid rebeccapurple;
  margin: auto;
}

.line-break {
  width: 100px;
  border: none;
  border-bottom: 2px solid rebeccapurple;
  margin-top: 5%;
}

.new-book {
  margin: auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25em;
}

.new-book > p {
  margin: 0;
  padding: 12px 0;
}

.new-book:nth-child(odd) {
  background-color: skyblue;
}

.remove {
  height: 30px;
  padding: 0 16px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  background-color: rebeccapurple;
  color: white;
}

.form , .contact-info{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  flex-direction: column;
  text-align: start;
}

#add-book {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
}

#add {
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  background-color: rebeccapurple;
  color: white;
  transition: all 0.3s ease;
}

#add:hover {

}

input[name]{
  width: 100%;
  padding: 12px;
  border: 1px solid rebeccapurple;
  border-radius: 4px;
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 12px 0;
  color: #fff;
}

footer > p {
  margin: 0;
}

i {
  font-size: larger;
  transition: all 0.35s ease;
}

i:hover {
  transform: rotate(360deg);
}

.hide {
  display: none;
}
